@model IEnumerable<SchoolMVCEF.Models.CoursesViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            Teachers
        </th>
        <th>
            Students
        </th>
        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @foreach (var item2 in item.CourseTeachers)
            {
                <p>@item2.LastName. @item2.FirstName</p>
            }
        </td>
        <td>
            @foreach (var item2 in item.CourseStudents)
            {
                <p>@item2.LastName. @item2.FirstName</p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CourseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CourseId })
        </td>
    </tr>
}
</table>
